@import "./mixin.scss";

:root {
  color-scheme: light dark;

  /* dimensions */
  // font size
  --my-font-size-xs: 12px; // supplementary text
  --my-font-size-sm: 13px; // body (small)
  --my-font-size: 14px; // body
  --my-font-size-md: 16px; // small title
  --my-font-size-lg: 18px; // title
  --my-font-size-xl: 20px; // main title
  // line height
  --my-line-height-none: 1; // no line height
  --my-line-height-sm: 1.3; // compact
  --my-line-height: 1.5; // regular
  --my-line-height-lg: 1.7; // loose
  // space
  --my-space-sm: 8px; // small size spacing
  --my-space: 12px; // default size spacing
  --my-space-lg: 16px; // large size spacing
  // border width
  --my-border-width-sm: 1px;
  --my-border-width: 2px;
  --my-border-width-lg: 3px;
  // border radius
  --my-border-radius-sm: 4px;
  --my-border-radius: 6px;
  --my-border-radius-lg: 8px;

  /* colors */
  @include main-colors(
    (
      // brand color
      $TypePrimary: #409eff 10%,
      // functional color
      $TypeSuccess: #67c23a 15%,
      $TypeWarning: #e6a23c 12%,
      $TypeDanger: #f56c6c 8%,
      $TypeInfo: #909399 12%
    )
  );
  // font color
  --my-color-text-primary: #303133;
  --my-color-text-regular: #606266;
  --my-color-text-secondary: #909399;
  --my-color-text-placeholder: #c0c4cc;
  // border color
  --my-color-border-base: #dcdfe6;
  --my-color-border-light: #e4e7ed;
  --my-color-border-lighter: #ebeef5;
  --my-color-border-extra-light: #f2f6fc;
  // background color
  --my-color-white: #ffffff;
  --my-color-black: #000000;
  --my-color-background-base: #ffffff;
}
