// Refer to Ant Design 4.x

@use './functions.scss';

$color-primary: hsl(215, 100%, 54%);
$color-success: hsl(100, 77%, 44%);
$color-warning: hsl(52, 86%, 50%);
$color-error: hsl(357, 75%, 50%);

:root {
  // brand color
  --color-primary: #{$color-primary};
  @for $i from 1 through 10 {
    --color-primary-#{$i}: #{generate($color-primary, $i)};
  }

  // functional colors
  --color-success: #{$color-success};
  @for $i from 1 through 10 {
    --color-success-#{$i}: #{generate($color-success, $i)};
  }
  --color-warning: #{$color-warning};
  @for $i from 1 through 10 {
    --color-warning-#{$i}: #{generate($color-warning, $i)};
  }
  --color-error: #{$color-error};
  @for $i from 1 through 10 {
    --color-error-#{$i}: #{generate($color-error, $i)};
  }

  // gray colors
  --color-gray-1: hsl(0, 0%, 100%);
  --color-gray-2: hsl(0, 0%, 98%);
  --color-gray-3: hsl(0, 0%, 96%);
  --color-gray-4: hsl(0, 0%, 94%);
  --color-gray-5: hsl(0, 0%, 85%);
  --color-gray-6: hsl(0, 0%, 75%);
  --color-gray-7: hsl(0, 0%, 55%);
  --color-gray-8: hsl(0, 0%, 35%);
  --color-gray-9: hsl(0, 0%, 26%);
  --color-gray-10: hsl(0, 0%, 15%);
  --color-gray-11: hsl(0, 0%, 12%);
  --color-gray-12: hsl(0, 0%, 8%);
  --color-gray-13: hsl(0, 0%, 0%);

  // text colors
  --color-text-title: #000000E0;
  --color-text-primary: #000000E0;
  --color-text-secondary: #000000A6;
  --color-text-disabled: #00000040;

  // layout colors
  --color-border-primary: #D9D9D9FF;
  --color-divider: #0505050F;
  --color-background: #F5F5F5FF;
}

:root.dark {
  // brand color
  --color-primary: #{$color-primary};
  @for $i from 1 through 10 {
    --color-primary-#{$i}: #{generate($color-primary, $i, true)};
  }

  // functional colors
  --color-success: #{$color-success};
  @for $i from 1 through 10 {
    --color-success-#{$i}: #{generate($color-success, $i, true)};
  }
  --color-warning: #{$color-warning};
  @for $i from 1 through 10 {
    --color-warning-#{$i}: #{generate($color-warning, $i, true)};
  }
  --color-error: #{$color-error};
  @for $i from 1 through 10 {
    --color-error-#{$i}: #{generate($color-error, $i, true)};
  }

  // text colors
  --color-text-title: #FFFFFFD9;
  --color-text-primary: #FFFFFFD9;
  --color-text-secondary: #FFFFFFA6;
  --color-text-disabled: #FFFFFF40;

  // layout colors
  --color-border-primary: #424242FF;
  --color-divider: #FDFDFD1F;
  --color-background: #000000FF;
}
