// types
$TypeDefault: "default";
$TypePrimary: "primary";
$TypeSuccess: "success";
$TypeWarning: "warning";
$TypeDanger: "danger";
$TypeInfo: "info";
$Types: $TypeDefault, $TypePrimary, $TypeSuccess, $TypeWarning, $TypeDanger,
  $TypeInfo;
