:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: var(--my-font-size);
  line-height: var(--my-line-height);

  color: var(--my-color-text-primary);
  background-color: var(--my-color-background-base);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  user-select: none;

  body {
    margin: 0;
  }
}

@media (prefers-color-scheme: light) {
}

@media (prefers-color-scheme: dark) {
}
